:root {
    --main-bg-color: lightgray;
    --scnd-bg-color: darkgray;
    --main-suggested-bg-color: rgb(200, 200, 255);
    --scnd-suggested-bg-color: rgb(185, 185, 255);
    --hver-suggested-bg-color: rgb(165,165,255);
    --tile-size: 63px;
    --std-border-width: 10px;
    --cluster-border-color: black;
    --player-one-main-color: red;
    --player-two-main-color: yellow;
    --player-three-main-color: green;
    --player-four-main-color: rgb(0, 165, 255);
    --player-one-scnd-color: rgba(255, 0, 0, 0.4);
    --player-two-scnd-color: rgba(255, 255, 0, 0.4);
    --player-three-scnd-color: rgba(0, 128, 0, 0.4);
    --player-four-scnd-color: rgb(0, 165, 255, 0.4);
}

body {
    font-family:      'Segoe UI', sans-serif;
    color:            #e6e6e6;
    background-color: #262626;
    padding-left:     5px;
}

.nodisp {
    display: none;
}

#box {
    width: 100%;
    height: calc(15 * (var(--tile-size) + 2 * var(--std-border-width)));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxItem {
    margin-top: calc(var(--tile-size) + 2 * var(--std-border-width));
    margin-right: calc(var(--tile-size) + 2 * var(--std-border-width));
}

#ChatLog {
    width: 500px;
    height: 400px;
    border: 3px solid white;
    margin: 5px 0px;
    padding: 3px;

    overflow:auto;
}

#ChatLogTop {
    height:100%
}

#ChatInput {
    width: 494px;
    margin-left: 5px;
}

#Scoreboard, #ShipInfo {
    border: 3px solid white;
    padding: 3px;
    display: table;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: calc(11 * (var(--tile-size) + 2 * var(--std-border-width)));
    height: calc(var(--tile-size) + 2 * var(--std-border-width));
}

.tile {
    width: var(--tile-size);
    height: var(--tile-size);
    background-color: var(--main-bg-color);
    border: var(--std-border-width) solid var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.odd .even, .even .odd {
    background-color: var(--scnd-bg-color);
    border: var(--std-border-width) solid var(--scnd-bg-color);
}

.tile.suggested {
    background-color: var(--main-suggested-bg-color);
}

.odd .tile.even.suggested, .even .tile.odd.suggested {
    background-color: var(--scnd-suggested-bg-color);
}

.tile.suggested:hover,
.odd .tile.even.suggested:hover, .even .tile.odd.suggested:hover {
    background-color: var(--hver-suggested-bg-color);
}


/*cluster borders BEGIN*/
#r4c1, #r4c9, #r0c5, #r8c5 {
    border-left: var(--std-border-width) solid var(--cluster-border-color);
    border-top: var(--std-border-width) solid var(--cluster-border-color);
    border-right: var(--std-border-width) solid var(--cluster-border-color);
}

#r5c2, #r5c10, #r1c6, #r9c6 {
    border-top: var(--std-border-width) solid var(--cluster-border-color);
    border-right: var(--std-border-width) solid var(--cluster-border-color);
    border-bottom: var(--std-border-width) solid var(--cluster-border-color);
}

#r6c1, #r6c9, #r2c5, #r10c5 {
    border-right: var(--std-border-width) solid var(--cluster-border-color);
    border-bottom: var(--std-border-width) solid var(--cluster-border-color);
    border-left: var(--std-border-width) solid var(--cluster-border-color);
}

#r5c0, #r5c8, #r1c4, #r9c4 {
    border-bottom: var(--std-border-width) solid var(--cluster-border-color);
    border-left: var(--std-border-width) solid var(--cluster-border-color);
    border-top: var(--std-border-width) solid var(--cluster-border-color);
}
/*cluster borders END*/


/*center border BEGIN*/
#r4c4, #r4c5, #r4c6 {
    border-top: var(--std-border-width) solid var(--cluster-border-color);
}

#r4c6, #r5c6, #r6c6 {
    border-right: var(--std-border-width) solid var(--cluster-border-color);
}

#r6c4, #r6c5, #r6c6 {
    border-bottom: var(--std-border-width) solid var(--cluster-border-color);
}

#r4c4, #r5c4, #r6c4 {
    border-left: var(--std-border-width) solid var(--cluster-border-color);
}
/*center border END*/


/*Territory borders BEGIN*/
#r2c0, #r2c1, #r2c2 {
    border-bottom: var(--std-border-width) solid var(--player-one-main-color);
}

#r0c2, #r1c2, #r2c2 {
    border-right: var(--std-border-width) solid var(--player-one-main-color);
}

#r0c8, #r1c8, #r2c8 {
    border-left: var(--std-border-width) solid var(--player-two-main-color);
}

#r2c8, #r2c9, #r2c10 {
    border-bottom: var(--std-border-width) solid var(--player-two-main-color);
}

#r8c8, #r8c9, #r8c10 {
    border-top: var(--std-border-width) solid var(--player-three-main-color);
}

#r8c8, #r9c8, #r10c8 {
    border-left: var(--std-border-width) solid var(--player-three-main-color);
}

#r8c2, #r9c2, #r10c2 {
    border-right: var(--std-border-width) solid var(--player-four-main-color);
}

#r8c0, #r8c1, #r8c2 {
    border-top: var(--std-border-width) solid var(--player-four-main-color);
}
/*Territory borders END*/






.ship {
    width: 14px;
    height: 14px;
    border: 3px solid white;
    background-color: black;
    text-align: center;
}



div.pawn {
    width: 14px;
    height: 14px;
}

div.knight {
    width: 14px;
    height: 14px;
}

div.command {
    width: 14px;
    height: 14px;
}

div.flagship {
    width: 14px;
    height: 14px;
}



.Player1.ship {
    color: black;
    background-color: var(--player-one-main-color);
    border: 3px solid var(--player-one-main-color);
}

.Player2.ship {
    color: black;
    background-color: var(--player-two-main-color);
    border: 3px solid var(--player-two-main-color);
}

.Player3.ship {
    color: white;
    background-color: var(--player-three-main-color);
    border: 3px solid var(--player-three-main-color);
}

.Player4.ship {
    color: white;
    background-color: var(--player-four-main-color);
    border: 3px solid var(--player-four-main-color);
}



div.Player1.knight {
    background-image: url("../images/Player1Knight.png");
}

div.Player2.knight {
    background-image: url("../images/Player2Knight.png");
}

div.Player3.knight {
    background-image: url("../images/Player3Knight.png");
}

div.Player4.knight {
    background-image: url("../images/Player4Knight.png");
}



div.Player1.command {
    background-image: url("../images/Player1Command.png");
}

div.Player2.command {
    background-image: url("../images/Player2Command.png");
}

div.Player3.command {
    background-image: url("../images/Player3Command.png");
}

div.Player4.command {
    background-image: url("../images/Player4Command.png");
}



div.Player1.flagship {
    background-image: url("../images/Player1Flagship.png");
}

div.Player2.flagship {
    background-image: url("../images/Player2Flagship.png");
}

div.Player3.flagship {
    background-image: url("../images/Player3Flagship.png");
}

div.Player4.flagship {
    background-image: url("../images/Player4Flagship.png");
}



.Player1.ship.shadow {
    color: black;
    background-color: var(--player-one-scnd-color);
    border: 2px solid var(--player-one-scnd-color);
}

.Player2.ship.shadow {
    color: black;
    background-color: var(--player-two-scnd-color);
    border: 2px solid var(--player-two-scnd-color);
}

.Player3.ship.shadow {
    color: white;
    background-color: var(--player-three-scnd-color);
    border: 2px solid var(--player-three-scnd-color);
}

.Player4.ship.shadow {
    color: white;
    background-color: var(--player-four-scnd-color);
    border: 2px solid var(--player-four-scnd-color);
}



div.ship.highlight {
    border: 3px solid black;
}

div.ship.shadow.highlight {
    border: 3px solid rgb(0, 0, 0, 0.4);
}


