:root {
    --main-bg-color: lightgray;
    --scnd-bg-color: darkgray;
    --tile-size: 63px;
    --std-border-width: 10px;
    --cluster-border-color: black;
    --player-one-color: red;
    --player-two-color: yellow;
    --player-three-color: green;
    --player-four-color: blue;
}

body {
    font-family:      'Segoe UI', sans-serif;
    color:            #e6e6e6;
    background-color: #262626;
    padding-left:     5px;
}

.nodisp {
    display: none;
}

#box {
    width: 100%;
    height: calc(15 * (var(--tile-size) + 2 * var(--std-border-width)));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxItem {
    margin-top: calc(var(--tile-size) + 2 * var(--std-border-width));
    margin-right: calc(var(--tile-size) + 2 * var(--std-border-width));
}

#ChatLog {
    width: 500px;
    height: 400px;
    border: 3px solid white;
    margin: 5px 0px;
    padding: 3px;

    overflow:auto;
}

#ChatLogTop {
    height:100%
}

#ChatInput {
    width: 494px;
    margin-left: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: calc(11 * (var(--tile-size) + 2 * var(--std-border-width)));
    height: calc(var(--tile-size) + 2 * var(--std-border-width));
}

.tile {
    width: var(--tile-size);
    height: var(--tile-size);
    background-color: var(--main-bg-color);
    border: var(--std-border-width) solid var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.odd .even, .even .odd {
    background-color: var(--scnd-bg-color);
    border: var(--std-border-width) solid var(--scnd-bg-color);
}


/*cluster borders BEGIN*/
.r4 .c1, .r4 .c9, .r0 .c5, .r8 .c5 {
    border-left: var(--std-border-width) solid var(--cluster-border-color);
    border-top: var(--std-border-width) solid var(--cluster-border-color);
    border-right: var(--std-border-width) solid var(--cluster-border-color);
}

.r5 .c2, .r5 .c10, .r1 .c6, .r9 .c6 {
    border-top: var(--std-border-width) solid var(--cluster-border-color);
    border-right: var(--std-border-width) solid var(--cluster-border-color);
    border-bottom: var(--std-border-width) solid var(--cluster-border-color);
}

.r6 .c1, .r6 .c9, .r2 .c5, .r10 .c5 {
    border-right: var(--std-border-width) solid var(--cluster-border-color);
    border-bottom: var(--std-border-width) solid var(--cluster-border-color);
    border-left: var(--std-border-width) solid var(--cluster-border-color);
}

.r5 .c0, .r5 .c8, .r1 .c4, .r9 .c4 {
    border-bottom: var(--std-border-width) solid var(--cluster-border-color);
    border-left: var(--std-border-width) solid var(--cluster-border-color);
    border-top: var(--std-border-width) solid var(--cluster-border-color);
}
/*cluster borders END*/


/*center border BEGIN*/
.r4 .c4, .r4 .c5, .r4 .c6 {
    border-top: var(--std-border-width) solid var(--cluster-border-color);
}

.r4 .c6, .r5 .c6, .r6 .c6 {
    border-right: var(--std-border-width) solid var(--cluster-border-color);
}

.r6 .c4, .r6 .c5, .r6 .c6 {
    border-bottom: var(--std-border-width) solid var(--cluster-border-color);
}

.r4 .c4, .r5 .c4, .r6 .c4 {
    border-left: var(--std-border-width) solid var(--cluster-border-color);
}
/*center border END*/


/*Territory borders BEGIN*/
.r2 .c0, .r2 .c1, .r2 .c2 {
    border-bottom: var(--std-border-width) solid var(--player-one-color);
}

.r0 .c2, .r1 .c2, .r2 .c2 {
    border-right: var(--std-border-width) solid var(--player-one-color);
}

.r0 .c8, .r1 .c8, .r2 .c8 {
    border-left: var(--std-border-width) solid var(--player-two-color);
}

.r2 .c8, .r2 .c9, .r2 .c10 {
    border-bottom: var(--std-border-width) solid var(--player-two-color);
}

.r8 .c8, .r8 .c9, .r8 .c10 {
    border-top: var(--std-border-width) solid var(--player-three-color);
}

.r8 .c8, .r9 .c8, .r10 .c8 {
    border-left: var(--std-border-width) solid var(--player-three-color);
}

.r8 .c2, .r9 .c2, .r10 .c2 {
    border-right: var(--std-border-width) solid var(--player-four-color);
}

.r8 .c0, .r8 .c1, .r8 .c2 {
    border-top: var(--std-border-width) solid var(--player-four-color);
}
/*Territory borders END*/

div.playerOnePiece {
    background-color: red;
}

div.playerTwoPiece {
    background-color: yellow;
}

div.playerThreePiece {
    background-color: green;
}

div.playerFourPiece {
    background-color: blue;
}

.ship {
    width: 15px;
    height: 15px;
    background-color: black;
    text-align: center;
}

div.pawn {
    width: 15px;
    height: 15px;
}

div.knight {
    width: 20px;
    height: 20px;
}

div.command {
    width: 25px;
    height: 25px;
}

div.flagship {
    width: 30px;
    height: 30px;
}
